@import url('https://fonts.googleapis.com/css?family=K2D|Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h4,
h6 {
  font-family: 'K2D', sans-serif;
  letter-spacing: 2px;
}

h3,
p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  letter-spacing: 2px
}